 /* body{
   background-color: blueviolet; 
}
*{
    box-sizing: border-box;
   }
.box{
    background-color: antiquewhite;
    height: 150px;
    width: 150px;
}
.hello{
    background-color: royalblue;
}
.para{
    background-color: aquamarine;
} 
.para{
    color: aqua;
}
.nwPara{
    background-color: darkcyan;
    box-sizing: border-box;
    width: 100px;
    text-align: center;
} */
.dark{
    background-color: black;
}
.light{
    background-color: antiquewhite;
}